.Hero-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 3px solid #000;
    padding-bottom: 3vh;
    margin: 0 2vw;
    gap: 20px;
  }
  
  .hero-article-1 {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .hero-article-1 img {
    width: 100%;
    border-radius: 0.3rem;
    height: 60vh;
    object-fit: cover;
  }
  
  .hero-article-1:hover {
    transform: scale(1.05);
  }
  
  .hero-article-1 h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    width: 100%;
  }
  
  .hero-article-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .hero-article-small {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .hero-article-small:hover {
    transform: scale(1.08);
  }
  
  .hero-article-small img {
    width: 100%;
    border-radius: 0.3rem;
    height: 15vh;
    object-fit: cover;
  }
  
  .hero-article-small p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .spinners {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  