/* Main Home Container */
.Home {
    padding: 15vh 0 0 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
  
  /* Hide Scrollbar for IE, Edge & Firefox */
  .Home {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Hide Scrollbar for Chrome, Safari */
  .Home::-webkit-scrollbar {
    display: none;
  }
  
  /* Layout for Home Components */
  .home-components {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    padding: 0 5vw;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .home-components {
      grid-template-columns: 1fr; /* Single column on smaller screens */
      gap: 20px;
      padding: 0 3vw;
    }
  }
  